<nav class="navbar">
    <div class="logo"><a href="index.html"><img src="/assets/logo-vt.png" alt="logo"></a></div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li class="prof"><a href="#">
                <img src="/assets/profile-logo.png" alt="profile icon">
            </a></li>
        </ul>
    </div>
</nav>