<section class="overzicht-nav">
    <a href="/">
        <img src="/assets/arrow-white.svg" 
        alt="Back to overview page">
        <span>OVERZICHT <strong>TEKENMETHODES</strong></span>
    </a>
</section>
<section class="detail-smallnavbar">
    <h1><%= method.title %></h1>
    <ul>
        <li><a href="">Beschrijving</a></li>
        <li><a href="">Stappenplan</a></li>
        <li><a href="">Voorbeelden</a></li>
        <li><a href="">Comments</a></li>
    </ul>
</section>