* {
    box-sizing: border-box;
    font-family: rigid-square, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    --text-color: #343488;
    --detail-nav: #31439C;
    --dark-blue: #090940;
    --white: #ffffff;
    --imagebg: #F9F8F8;
    font-size: 20px;
}

nav {
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-bottom: solid 1px #e0dedc;
    max-width: 100%;
}

.logo {
    margin: .5rem;
    margin-left: 2.5em;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-links ul {
    margin: 0;
    margin-right: 1.5em;
    padding: 0;
    display: flex;
}

.navbar-links button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.navbar-links li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    transition: 0.8s;
}

.navbar-links li a {
    text-decoration: none;
    display: block;
    font-size: 0.7rem;
    color: var(--dark-blue);
}

.navbar-links li:hover {
    text-decoration: underline 1px var(--text-color);
    transform: scale(1.2);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* OVERVIEW PAGE */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* method section */
.methods {
    max-width: 100%;
    margin: 2rem;
} 

.methods a {
    text-decoration: none;
}

.method-card {
    transition: 1.2s;
}

.method-card:hover {
    transform: scale(1.05);
}

.method-card img {
    max-width: 100%;
    width: max-content;
    border: 0.2em solid var(--imagebg);
}

.method-card .method-info {
    color: var(--text-color);
    font-size: 0.8rem;
    max-width: 100%;
}

.method-info {
    margin: 0;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* DETAIL PAGE */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


section.overzicht-nav {
    background-color: var(--detail-nav);
    width: 100%;
}

section.overzicht-nav a {
    text-decoration: none;
    color: var(--white);
    margin: 0 2em;
    display: flex;
    align-items: center;
}

section.overzicht-nav a span {
    margin: 0 0.5em;
}


/* Tablet screens */
@media (min-width: 28rem) {
    .methods {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1rem;
    }
}

/* Laptop screens and bigger */
@media (min-width: 50rem) {
    .methods {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 1rem;
    }

    .logo img {
        width: 3.2rem;
        height: 3.2rem;
    }

    .navbar-links li a {
        font-size: 1rem;
    }
}

@media (min-width: 64rem) {
    .methods{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 1rem;
    }
}